<div class="w-full border-b relative mb-2 sticky bg-white top-0 z-50">
<div class="max-w-7xl mx-auto">
   <div class="flex justify-between">
        <a href="/"><img src="/logo.avif" class="w-28 h-24 aspect-square"/></a>
        <div class="flex items-center ">
        <img src="hamburger.png" class="w-10 h-10 mx-5 visible xss:hidden cursor-pointer" id="hamburger" />
        </div>
        <div class="hidden xss:flex xss:justify-center xss:items-center xss:gap-x-4 xss:mx-3">
            <a href="/"><div class="hover:text-purple-700 cursor-pointer duration-300">Home</div></a>
            <div class="hover:text-purple-700 cursor-pointer duration-300">Trending</div>
            <a href="/search"><div class="hover:text-purple-700 cursor-pointer duration-300">Search</div></a>
            <div>
                <a href="https://github.com/AnkitJain78"><button class="bg-purple-700 hover:bg-purple-500 duration-300 px-3 py-2 font-bold text-white rounded-md">Follow us</button></a>
            </div>
            <div>
                <a href=""><button class="bg-purple-700 hover:bg-purple-500 duration-300 px-3 py-2 font-bold text-white rounded-md">Contact us</button></a>
            </div>
        </div>
        <div class="absolute hidden w-full -bottom-60 p-3 flex flex-col bg-gray-50 justify-center duration-300 items-center gap-y-4 xss:hidden" id="menu">
            <a href="/"><div class="hover:text-purple-700 cursor-pointer duration-300">Home</div></a>
            <div class="hover:text-purple-700 cursor-pointer duration-300">Trending</div>
            <a href="/search"><div class="hover:text-purple-700 cursor-pointer duration-300">Search</div></a>
            <div>
                <button class="bg-purple-700 hover:bg-purple-500 duration-300 px-3 py-2 font-bold text-white w-[50vw] xss:w-fit rounded-md">Follow us</button>
            </div>
            <div>
                <button class="bg-purple-700 hover:bg-purple-500 duration-300 px-3 py-2 font-bold text-white w-[50vw] xss:w-fit rounded-md">Contact us</button>
            </div>
        </div>
   </div>
</div>
</div>
