{{> header }}
<div class="max-w-7xl mx-auto px-5 py-3 z-0">
  <h1 class="text-3xl font-bold text-[#333]">SEARCH AWESOME MOVIES</h1>
  <p class="font-karla gap-y-3"><span class="font-bold">Movies</span> based on your search query. Also order some great foods to enjoy your</p>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 py-3 mb-10">
    <div class="border border-black flex items-stretch relative">
      <img src="events.jpg" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30">
              <h1 class="text-white absolute  flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">Awesome Events</h1>
</div>
    </div>
    <div class="border border-black flex items-stretch relative">
      <img src="popcorm.jpg" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30">
              <h1 class="text-white absolute flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">Best Quality Food</h1>
</div>
    </div>
    <div class="border border-black flex items-stretch relative">
      <img src="tedx.webp" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30">
              <h1 class="text-white absolute flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">TedX Talks</h1>
</div>
    </div>
    <div class="border border-black flex items-stretch relative">
      <img src="popcorm.jpg" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30">
              <h1 class="text-white absolute flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">Best Vibe</h1>
</div>
    </div>
    <div class="border border-black flex items-stretch relative">
      <img src="tedx.webp" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30">
      <h1 class="text-white absolute flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">Awesome Feel</h1>
</div>
    </div>
    <div class="border border-black flex items-stretch relative">
      <img src="events.jpg" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30 duration-300">
        <h1 class="text-white absolute flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">Best Quality</h1>
      </div>
    </div>
  </div>
</div>
{{> footer}}
