{{> header}}
<div class="max-w-7xl mx-auto mb-10">
<div class="py-5 mx-3 gap-y-4">
<h1 class="text-3xl font-bold text-[#333]">SEARCH RESULTS FOR {{name}}</h1>
<p class="font-karla gap-y-3"><span class="font-bold">Movies</span> based on your search query. Also order some great
    foods to enjoy your</p>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mx-3 place-center">
{{#each recipe}}
<div class="bg-white border border-gray-200 rounded-lg shadow auto-rows-fr">
    <img src="{{getPosterPath this.poster_path}}" class="w-full h-96 rounded-lg" />
    <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{this.title}}</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{trimString this.overview}}</p>
        <button class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white  bg-purple-700 duration-300 hover:bg-purple-500 rounded-lg hover:bg-[#ff8c00]" id="buttonRecipe"> 
            See Movie
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
    </div>
</div>
{{/each}}
</div>
</div>
{{> footer}}